<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lifelog · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body class="flex flex-row antialiased w-full h-full">
  <aside class="flex-none w-1/5 py-8 border-r">
    <header class="mb-8 text-center">
      <%= link "LIFELOG", to: Routes.page_path(@conn, :index), class: "text-4xl font-bold" %>
    </header>
    <section class="container">
      <nav role="navigation">
        <ul>
          <li class="cursor-pointer p-6 mb-4 uppercase font-bold bg-gray-100 border-l-8 border-black">
            <a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a>
          </li>
          <li class="cursor-pointer p-6 mb-4 font-bold bg-white uppercase border-l-8 border-white hover:border-gray-500 hover:bg-gray-100">
            <a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a>
          </li>
        </ul>
      </nav>
    </section>
  </aside>
  <main role="main" class="flex-1">
    <div class="container mx-auto">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </main>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>''></script>
  </body>
</html>