<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lifelog · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body class="flex flex-row antialiased w-full h-full">
  <aside class="flex-none w-1/5 py-8 border-r hidden lg:block">
    <header class="mb-8 text-center text-indigo-500">
      <%= link "LIFELOG", to: Routes.page_path(@conn, :index), class: "text-4xl font-bold" %>
    </header>
    <section class="container p-0">
      <nav role="navigation">
        <ul>
          <li
            class="flex cursor-pointer p-6 mb-4 text-xl text-black font-bold bg-white uppercase border-l-8 border-white hover:border-gray-500 hover:bg-gray-100 hover:text-gray-700">
            <a href="https://hexdocs.pm/phoenix/overview.html">
              <img class="inline-block align-text-bottom"
                src='<%= Routes.static_path(@conn, "/images/icons/home.svg") %>' alt="Home" />
              Home
            </a>
          </li>
          <!-- TODO: li 태그를 클릭하면 라우트가 변경될 수 있도록 한다. -->
          <!-- TODO: Routes 기반 active 클래스가 가능하도록 한다. -->
          <li class="app-nav-link hover:border-gray-500 text-black hover:bg-gray-100 hover:text-gray-700">
            <img class="inline-block align-text-bottom"
              src='<%= Routes.static_path(@conn, "/images/icons/coffee.svg") %>' alt="Blog" />
            <%= link "Blog", to: Routes.blog_path(@conn, :index), class: "text-black" %>
          </li>
          <li
            class="cursor-pointer p-6 mb-4 text-xl text-black font-bold bg-white uppercase border-l-8 border-white hover:border-gray-500 hover:bg-gray-100 hover:text-gray-700">
            <img class="inline-block align-text-bottom"
              src='<%= Routes.static_path(@conn, "/images/icons/bookmark.svg") %>' alt="Bookmark" />
            <a href="https://hexdocs.pm/phoenix/overview.html">Bookmark</a>
          </li>
          <li
            class="cursor-pointer p-6 mb-4 text-xl text-black font-bold bg-white uppercase border-l-8 border-white hover:border-gray-500 hover:bg-gray-100 hover:text-gray-700">
            <img class="inline-block align-text-bottom"
              src='<%= Routes.static_path(@conn, "/images/icons/image.svg") %>' alt="Photos" />
            <a href="https://hexdocs.pm/phoenix/overview.html">Photos</a>
          </li>
        </ul>
      </nav>
    </section>
  </aside>
  <main role="main" class="flex-1">
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </main>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>''></script>
  </body>
</html>