<!DOCTYPE html>
<html lang="en" class="w-full h-full overflow-hidden">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
  </title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body class="flex flex-row antialiased w-full h-full overflow-hidden">
  <%= render LifelogWeb.SharedView, "sidebar.html", assigns %>
  <main role="main" class="flex-1 w-full h-full overflow-y-auto">
    <div class="container py-10">
      <%= render LifelogWeb.SharedView, "alerts.html", assigns %>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </main>
  <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>''></script>
  </body>
</html>