<%= render LifelogWeb.SharedView, "article_item.html", assigns %>
<%= render LifelogWeb.SharedView, "article_item.html", assigns %>
<%= render LifelogWeb.SharedView, "article_item.html", assigns %>
<%= render LifelogWeb.SharedView, "article_item.html", assigns %>
<%= render LifelogWeb.SharedView, "article_item.html", assigns %>