<div class="max-w-3xl mx-auto">
    <h1 class="text-center text-2xl mb-4"><%= @post.title %></h1>
    <div class="text-center mb-8">
        <div><%= humanizeDateTime(@post.inserted_at) %></div>
        <div><%= humanizeDateTime(@post.updated_at) %></div>
    </div>
    <div class="markdown mb-4">
    <%= render_markdown(@post.body) %>
    </div>

    <%= link "<- ", to: Routes.blog_path(@conn, :index) %>
</div>
